APP_HOST=localhost:3000
RAILS_SERVE_STATIC_FILES=true
SECRET_KEY_BASE=

SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
SMTP_USERNAME=
SMTP_PASSWORD=
DEVISE_MAILER_SENDER=no-reply@example.com
CONTACT_FORM_TO=

# For production deployment
DATABASE_URL=
