<div class="jumbotron">
   <h1>About Sally</h1>


   <div class="row featurette">
      <div class="col-md-7">
         <p class="text-justify">
Sally is a Montana native! She is passionate about living in Montana and encourages her clients to live “Montana Strong” lifestyles! Sally holds a National Certification for Personal Training through the American College of Sports Medicine, which assures that she is committed to providing education, accountability and balanced lifestyle support to her clients. She is also TRX suspension certified and trained through Stott Pilates. Sally teaches and incorporates the five basic principles of Stott Pilates while working with her clients.
</p>
 <p class="text-justify">
Sally and her husband Alan have raised three sons in Montana. She is "Montana Proud" to announce that her family has grown with the addition of two lovely daughter-in-laws and recently, a precious grand-daughter. Sally's faith and family are her first love, however she loves to encourage and support friends and clients through music, nature therapy, nutrition counseling and fitness. Sally believes in living a balanced lifestyle and feels strongly that staying healthy and fit through all phases of life has a significant impact on our physical, mental, and spiritual well being. 
</p>
 <p class="text-justify">
When Sally isn't working with clients, she can be found enjoying Montana’s many outdoor fitness opportunities as well as hosting the “Fit 4 Montana” online radio show on BigValleyRadio.com. Some of her favorite activities are exploring Montana with family and friends, strength training, pilates, singing, skiing, snow shoeing, biking, horseback riding, hiking, fly fishing, cooking and gardening. 
        </p>
      </div>
      <div class="col-md-5">
         <%= link_to image_tag("sally.png", class: "img-responsive", alt: "Sally", target: "_blank")%>
      </div>
   </div>
   </div>