<footer class="footer">
   <div class="container">
      <div class="social-links" style="margin-top:30px;">
         <div class="col-md-1" style="margin-left:30%">
            <a href="mailto:sally@406strong.com" title="Mail"><img src="http://0b6af1279f51f0756684-1139aa391d1dfb56f368d67c99f1c065.r53.cf1.rackcdn.com/mail-white.png"></a>
         </div>
         <div class="col-md-1">
            <a href="http://www.facebook.com/fit4montana" title="Facebook"><img src="http://0b6af1279f51f0756684-1139aa391d1dfb56f368d67c99f1c065.r53.cf1.rackcdn.com/facebook-white.png"></a>
         </div>
         <div class="col-md-1">
            <a href="http://twitter.com/406Strong" title="Twitter"><img src="http://0b6af1279f51f0756684-1139aa391d1dfb56f368d67c99f1c065.r53.cf1.rackcdn.com/twitter-white.png"></a>
         </div>
         <div class="col-md-1">
            <a title="Pinterest" href="http://www.pinterest.com/sallybeaulieu/"><img src="http://0b6af1279f51f0756684-1139aa391d1dfb56f368d67c99f1c065.r53.cf1.rackcdn.com/pinterest-white.png"></a>
         </div>
         <div class="col-md-1">
            <a class="glyphicon glyphicon-headphones" title="Radio" href="http://www.bigvalleyradio.com/OurShows/Fit4Montana.aspx"></a>
         </div>
            <div class="col-md-4" style="padding-top:50px; width:100%; margin:0 auto;">
            <p>©2015 406 Strong All rights reserved.</p>
         </div>
      </div>
   </div>

</footer>